<!DOCTYPE html>
<html>
<head>
    <title>AI Task Planner</title>
</head>
<body>

<h1>AI Task Planner</h1>

<form method="POST">

    <textarea
        name="tasks"
        rows="10"
        cols="60"
        placeholder="Enter your tasks here..."
    ></textarea>

    <br><br>

    <button type="submit">
        Generate Plan
    </button>

</form>

{% if result %}

<hr>

<h2>Summary</h2>
<p>{{ result.summary }}</p>

<h2>Category</h2>
<p>{{ result.category }}</p>

<h2>Priority</h2>
<p>{{ result.priority }}</p>

<h2>Smart Plan</h2>
<p>{{ result.smart_plan }}</p>

{% endif %}

</body>
</html>